<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page API</title>
</head>
<body>

<div class="main" style="padding:10px;">
    <h2>Fabien</h2>
    <h4>My API...</h4>
    <hr>
    <li>
        <b>See all users => </b>  <a target="_blank" href="http://127.0.0.1:8080/api/users">api/users</a>
    </li>
    <li>
        <b>add a users => </b>api/add/ 
    </li>
    <li>
        <b>See one all users => </b> api/show/:id
    </li>
    <li>
        <b>Update a specific user => </b> api/update/:id
    </li>
    <li>
        <b>Delete a  user => </b> api/delete/:id
    </li>
</div>

<style>
    .main li{padding: 3px; font-size: 18px;}
</style>
    
</body>
</html>